.main-home {
	background: #f4f6f5;
}
/*.......................first-block........................*/
.main-home-first-block {
	padding: 120px 20px 110px 20px;
}
.subtitel-main {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	color: #263238;
	margin-bottom: 50px;
}
.button-main {

}
.my-button-main {
	border-radius: 0;
	border: none;
	font-weight: 500;
	font-size: 14px;
	color: #263238;
	padding: 10px 20px;
	margin: 0px 3px 40px 3px;
	background: #fff;
	cursor: pointer;
	outline: none !important;
}
.my-button-main:hover {
	background: #e74c3c;
	color: #fff;
}
.my-button-main:active {
	box-shadow: 0 0 15px 3px rgba(255,0,0,0.5);
}
.button-active-link {
	background: #e74c3c;
	color: #fff;
	outline: none;
}
.button-sorting {

}
.my-button-sorting {
	border-radius: 0;
	border: none;
	font-size: 16px;
	color: #263238;
	padding: 15px 30px;
	margin: 48px 6px 0 6px;
	background: #fff;
	cursor: pointer;
	outline: none !important;
	box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
}
.my-button-sorting:hover {
	color: #fff;
	background: #263238;
}
.my-button-sorting:active {
	box-shadow: 0 0 15px 3px rgba(86, 84, 84, 0.5);
}
/*.......................second-block........................*/
.main-home-second-block {
	padding: 120px 20px;
	background: #fff;
}
/*.......................third-block........................*/
.main-home-third-block {
	padding: 120px 20px;
	background: #263238;
}
.light-color {
	color: #fff;
	margin-bottom: 80px;
}
.choice-row {
	flex-wrap: nowrap;
	text-align: center;
}
.img-choice {
	width: 113px;
	height: 113px;
	border-radius: 50%;
	background: #eee; /*choice img*/
	margin: auto;
}
.titel-choice {
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	line-height: 60px;
}
.titel-choice:hover {
	color: #8bc34a;
	text-decoration: none;
}
.text-choice {
	font-size: 15px;
	font-weight: 500;
	color: #b0bec5;
}
/*.......................third-block........................*/
.main-home-fourth-block {
	padding: 120px 20px;
	background: #f4f6f5;
}
.grey {
 	max-width: 1105px;
 	height: 438px;
 	background: #b5b5b5; 
}
.green {
	max-width: 654px;
	height: 216px;
	background: #8bc34a;
	padding: 0 60px;
}
.become-text {
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	max-width: 270px
}
.become-link {
	font-size: 18px;
	color: #263238;
	padding: 25px 35px;
	background: #fff;
	text-align: center;
	margin-left: 45px;
	border: 1px solid #fff;
}
.become-link:hover {
	text-decoration: none;
	color: #fff;
	background: #8bc34a;
	border: 1px solid #fff;
}
.become-link:active {
	box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.5);
}


/*.................label-lightning..................*/
.label {
	position: absolute;
	top: 0;
	left: 0;
}
.label-lightning {
	position: absolute;
	font-size: 18px;
	color: #fff;
	top: 11px;
	left: 12px;
}

/*@media..................*/
/*@media (max-width: 1200px){
	.card-deck .card {
		flex: 1 0 47%;
	}
}*/
/*................my-dots........................*/
.my-dots {
	display: flex;
	justify-content: center;
	font-size: 0;
	line-height: 13px;
	margin-top: 63px;
}
.my-dots li {
	padding: 4px;
}
.my-dots button {
	border-radius: 50%;
	border: 0;
	border-top: 1px solid #b1b1b1;
	width: 20px;
	height: 20px;
	background: #e8e8e8;
	opacity: 0.5;
	outline: none !important;
}
.my-dots .slick-active button {
	background: #8bc34a;
	border: 0;
}
.my-dots button:hover {
	opacity: 0.75;
}
.my-dots button:active {
	opacity: 1;
}
