 /*footer*/
 * {
 	box-sizing: border-box;
 }

 .footer {
 	background: #263238;
 }

 .footer-hero {
 	padding: 115px 0 100px 0;
 }

 .title {
 	display: block;
 	margin: 0 0 34px 0;
 	color: #ffffff;
 	font-size: 22px;
 }

 .title:after {
 	content: '';
 	display: block;
 	width: 51px;
 	height: 3px;
 	background: #8bc34a;
 	margin: 20px 0 0 0;
 }

 .footer-hero .about-company p {
 	color: #b7c3c8;
 	margin: 0 0 35px 0;
 	font-size: 15px;
 }

 .footer-hero ul {
 	padding: 0;
 }

 .footer-hero li {
 	list-style-type: none; 
 	padding: 0 0 22px 20px;
 	position: relative;
 }

 .about-company li {
 	padding: 0 0 22px 30px;
 	color: white;
 	font-size: 15px;
 }

 .footer-hero a {
 	color: #b9c1c5;
 }

 .footer-hero a:hover {
 	color: #8bc34a;
 	text-decoration: none;
 	cursor: pointer;
 }

 .footer-hero .fas {
 	position: absolute;
 	top: 5px;
 	left: 0;
 	color: #8bc34a;
 }

 .follow li {
 	margin: 0 5px 0 0;
 	display: inline-block;
 	padding: 0;
 	cursor: pointer;
 }

 .follow li:hover {
 	transform: scale(1.15);
 }

 .footer-hero ul {
 	margin: 0 0 40px 0;
 }

 .input-line {
 	position: relative; 
 }

 #e-mail {
 	padding: 11px 45px 11px 15px;
 	background: #2f3c43;
 	border: none;
 	color: white;
 	width: 100%;
 }

 input::-webkit-input-placeholder {
 	font-size: 14px;
 	color: #8e8e8e;
 }

 .btn-send-email {
 	position: absolute;
 	bottom: 0;
 	right: 0;
 	top: 0;
 	min-width: 43px;
 	background: #8bc34a;
 	border: none;
 }

 .btn-send-email:hover {
 	background: yellow;
 }

 .ps-top-to-bottom {
 	position: relative;
 	border-top: 2px solid black;
 }

 .ps-top-to-bottom:before, .ps-top-to-bottom:after {
 	content: "";
 	position: absolute;
 	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
 	background-image: -webkit-linear-gradient(#000, transparent);
 	background-image: -moz-linear-gradient(#000, transparent);
 	background-image: -o-linear-gradient(#000, transparent);
 	background-image: linear-gradient(#000, transparent);
 	top: -2px;
 	bottom: -2px;
 	width: 2px;
 }
 .ps-top-to-bottom:before {
 	left: -2px;
 }
 .ps-top-to-bottom:after {
 	right: -2px;
 }

 .follow p {
 	color: white;
 	font-size: 20px;
 }

 .input-line .fa-location-arrow {
 	color: white;
 	transform: translate(-50%,-50%);
 	position: absolute;
 	top: 50%;
 	left: 50%;
 }

 .copy {
 	text-align: center;
 	border-top: 1px solid black;
 	margin: 0;
 	padding: 28px 0 35px 0;
 	color: #909497;
 }

 .screen {
 	position: absolute;
 	top: 0;
 	left: 0;
 	opacity: 0;
 	visibility: hidden;
 }
 /*footer end*/
