/***************************
	Navbar styles below
*****************************/

.header-bottom-center {

}

header {
	padding: 0;
	background-color: transparent;
}

.header-bottom {
	background-color: #263238;
	padding: 20px 0;
}

.navbar-bottom {
	padding: 0;
}

.navbar-bottom .navbar-nav .nav-link {
	color: #fff;
	font-size: 14px;
	border-bottom: 1px solid transparent;
	transition: .5s;
	text-align: center;
}

.navbar-bottom .navbar-nav .nav-link:hover {
	border-bottom: 1px solid #fff;
	transition: .5s;
	color: #fff;
}

.navbar-bottom .navbar-toggler {
	color: #fff;
	background: #fff;
}

@media (min-width: 992px) {	
	.navbar-bottom .navbar-nav .nav-link {
		padding: 0;
		text-align: left;
	}

	.navbar-bottom .nav-item {
		margin-right: 35px;
	}

	.navbar-bottom .nav-item:last-child {
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.header-bottom {
		padding: 0;
	}
	.navbar {
		position: static;
	}
	.navbar-bottom .navbar-toggler {
		position: absolute;
		top: 24px;
		left: 25px;
	}
}